.container{
    width: 1000px;
    height: 700px;
    /* outline:  1px rgb(245, 243, 243); */
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 250px; */
}

.container1 {
    position: relative;
    width: 1000px;
    height: 600px;
    outline:  0px rgb(245, 243, 243);
    color: white;
    display: flex;
    margin: 50px auto 0;
    
    /* text-align: center; */
}
.overflow{
    /* overflow:auto; */
    overflow-y:auto;
    max-height: 500px;
    max-width: 1000px;
}
.chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.question{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 870px;
    flex-grow: 1;
    margin-left: 20px;
}
.chatbot{
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center;
    padding: 10px;
    background-color: #4d4c4c;
    width: 985px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for a 3D effect */
    border-radius: 10px;
    font-size:20
}
.human{
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center;
    padding: 10px;
    width: 985px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for a 3D effect */
    border-radius: 10px
}
.button{
  background-color: transparent; /* Remove background color */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.img{
    display: inline-block; 
    color: yellow;
    margin-right: 10px;
    width: 50px;
    height:50px;
}
.img1{
    display: inline-block; 
    color: rgb(139, 37, 37);/* Make the image display as inline-block */
    margin-right: 10px;
    width: 50px;
    height:50px;
}
.chatbot p{
    display: inline-block; /* Make the paragraph display as inline-block */
  vertical-align: middle;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.h1{
    text-align: center;
}